[project]
	description = Open Source Mini XML Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jjin62
[access "refs/for/refs/*"]
	read = group user/jjin62
	push = group user/jjin62
	label-Code-Review = -2..+2 group user/jjin62
	label-Verified = -1..+1 group user/jjin62
	rebase = group user/jjin62
	removeReviewer = group user/jjin62
	submit = group user/jjin62
[access "refs/heads/*"]
	read = group user/jjin62
	create = group user/jjin62
	push = +force group user/jjin62
	pushMerge = group user/jjin62
[access "refs/tags/*"]
	push = group user/jjin62
	push = +force group user/jjin62
